@import "reset"
@import "modules"
@import "colors"

aside
  height: 100%

.lesson-and-exercise-wrapper
  padding: 1em
  @include card(3)

  .content
    height: 80%
    background-image: url(../img/LearnEnglish.jpg)
    background-size: 100% auto
    background-repeat: no-repeat

  .controls
    height: 3em
    margin-top: 2em
    font-size: 20px

    ul
      margin: auto

      li
        margin-left: 1em

.nav-wrapper
  min-height: 6%

  li
    float: left
    width: 25%
    text-align: center
    padding: 0.5em
    font-size: 20px
    border-left: 1px solid lightgrey
    cursor: pointer

  li:hover
    background-color: lightgrey
    color: white

.checkpoint-wrapper
  height: 85%
  margin-top: 5%
  @include card(2)
  margin-top: 3em
  padding: 1em

  li
    border-bottom: 1px solid lightgrey
    margin-top: 0.5em
