* *
    box-sizing: border-box
    margin: 0px
    padding: 0px
    list-style-type: none
    font-family: "Roboto", sans-serif
    border-radius: 2px

html, body
    width: 100%
    height: 100%
    position: absolute

a:hover
  text-decoration: none
